footer {
    width: 100vw;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.footer-container div {
    background-color: black;
    color: white;
    width: 80px;
    height: 80px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
}