
/* home hero section */
.hero {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
}

.herorectangle {
    border-radius: 32px;
    background: linear-gradient(71deg, #00599B 25.13%, #118BE5 83.86%);
    margin-top: 43px;
    width: 1142px;
    height: 593px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

.heroh1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.heroh1 h1{
    color: white;
    font-weight: bolder;
    text-align: center;
}

.heroh1 p{
    color: rgb(183, 184, 184);
    text-align: center;

}

.afterhero {
    margin-top: -150px;
}

.afterhero h6{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
    color: white;
}

.impact-delivered {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.impact-delivered .writeup {
    padding: 0 12px;
}

.impact-delivered h5 {
    font-weight: bolder;
    margin-top:10px;
}

.impact-delivered p {
    line-height: 21.984px;
}


.impact1 .picture1 {
    background-image: url(https://ik.imagekit.io/s3jkgwyie/home_picture1.png?updatedAt=1703064530697);
    background-size: cover;
    background-position: center;
    background-color: black;
    border-radius: 13px;
    width: 232px;
    min-height: 146px !important;
}

.impact1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #E6E51E;
    color: black;
    width: 262px;
    height: 300px;
    border-radius: 20px;
    padding: 10px;
    
}

.impact2 .picture2 {
    background-image: url(https://ik.imagekit.io/s3jkgwyie/f1fb482f60dfc847681f9b28401e93f9.jpg?updatedAt=1703084003590);
    background-size: cover;
    background-position: center;
    background-color: black;
    border-radius: 13px;
    width: 232px;
    min-height: 146px !important;
}

.impact2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    color: white;
    width: 262px;
    height: 300px;
    border-radius: 20px;
    padding: 10px;    
}

.impact3 {
    position: relative;
}

.impact3 div .mainSVG {
    z-index: 0;
}

.impact3 div .inner {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 20px;
    display: grid;
    row-gap: 20px;
}

.inner p{
    color: white;
    font-size: 18px;
    max-width: 90%;
    
}

.inner p span{
    font-weight: bold;
}


#thunderbolt, #certificate {
    height: 50px;
}


.lower-deck {
    display: flex;
    justify-content: space-between;
}

.lower-deck-inner {
    margin-top: -30px;
    background: #E6E51E;
    width: 156px;
    height: 120px;
    padding: 10px ;
    border-radius: 10px;
    font-size: 14px;
    color: #000 !important;

}

.lower-deck .lower-deck-inner{
    color: #000 !important; 
}

.lower-deck .lower-deck-inner span {
    font-weight: bold;
}