body {
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 50px;
}

hr {
    width: 90%;
    height: 4px;
    margin: 0 -40px;
}

.orangebtn {
    background-color: #E6E51E !important;
}

/* home hero section */
.hero {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
}

.herobackground {
    background: url('https://ik.imagekit.io/s3jkgwyie/ff487c555fe3ad8360b6b41869d8d281.jpg?updatedAt=1703315405825');
    background-size:cover;
    width: 1142px;
    height: 593px;
    border-radius: 32px;
}

.herorectangle {
    border-radius: 32px;
    background: linear-gradient(71deg, #00589be1 25.13%, #118de5b9 83.86%);
    width: 1142px;
    height: 593px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.heroh1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    padding: 35px;
}

.heroh1 h1{
    color: white;
    font-weight: bolder;
    text-align: center;
}

.heroh1 p{
    color: rgb(222, 222, 222);
    text-align: center;

}

.afterhero {
    margin-top: -150px;
}

.afterhero h6{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
    color: white;
}

.impact-delivered {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.impact-delivered .writeup {
    padding: 0 12px;
}

.impact-delivered h5 {
    font-weight: bolder;
    margin-top:10px;
}

.impact-delivered p {
    line-height: 21.984px;
}


.impact1 .picture1 {
    background-image: url(https://ik.imagekit.io/s3jkgwyie/home_picture1.png?updatedAt=1703064530697);
    background-size: cover;
    background-position: center;
    background-color: black;
    border-radius: 13px;
    width: 232px;
    min-height: 146px !important;
}

.impact1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #E6E51E;
    color: black;
    width: 262px;
    height: 300px;
    border-radius: 20px;
    padding: 10px;
    
}

.impact2 .picture2 {
    background-image: url(https://ik.imagekit.io/s3jkgwyie/f1fb482f60dfc847681f9b28401e93f9.jpg?updatedAt=1703084003590);
    background-size: cover;
    background-position: center;
    background-color: black;
    border-radius: 13px;
    width: 232px;
    min-height: 146px !important;
}

.impact2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    color: white;
    width: 262px;
    height: 300px;
    border-radius: 20px;
    padding: 10px;    
}

.impact3mobile {
    background-color:rgb(73, 106, 241);
    padding: 20px;
    font-size: 13px;
    display: none !important;
}

.impact3 {
    position: relative;
}

.impact3 div .mainSVG {
    z-index: 0;
}

.impact3 div .inner {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 20px;
    display: grid;
    row-gap: 20px;
}

.inner p{
    color: white;
    font-size: 18px;
    max-width: 90%;
    
}

.inner p span{
    font-weight: bold;
}


#thunderbolt, #certificate {
    height: 50px;
}


.lower-deck {
    display: flex;
    justify-content: space-between;
}

.lower-deck-inner {
    margin-top: -30px;
    background: #E6E51E;
    width: 156px;
    height: 120px;
    padding: 10px ;
    border-radius: 10px;
    font-size: 14px;
    color: #000 !important;

}

.lower-deck .lower-deck-inner{
    color: #000 !important; 
}

.lower-deck .lower-deck-inner span {
    font-weight: bold;
}


/* animations */
@keyframes moveAnimation1 {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-5px) translateX(5px);
  }
  50% {
    transform: translateY(0) translateX(0);
  }
  75% {
    transform: translateY(5px) translateX(-5px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes moveAnimation2 {
  0% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(5px) translateX(5px);
  }
  50% {
    transform: translateY(0) translateX(0);
  }
  75% {
    transform: translateY(-5px) translateX(-5px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes moveAnimation3 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.impact1, .impact2, .impact3 {
  animation: moveAnimation1 10s infinite;
}

.impact2 {
  animation: moveAnimation2 10s infinite;
}

.impact3 {
  animation: moveAnimation3 10s infinite;
}


.our-clients, .partner-block {
    background-color: white;
    border-radius: 10px;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    gap: 50px;
}

.our-client-writeup {
    min-width: 40%;
}

.our-client-writeup h4 {
    color: #00599B;
}

.our-client-writeup p{
    text-align: justify;
}

.our-client-logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    min-width: 60%;
}


.our-client-logos img {
    width: 100px;
}

.our-clients2 {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    height: auto;
}

.slider-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.slider-p {
    margin-bottom: 20px;
}

.swiper-slide img {
    display: inline-block;
    width: auto;
    height: 100px;
    margin: 0 auto;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.hide_edges {
    overflow-x: hidden !important;
}

.swiper-pagination {
    position: relative;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .our-clients2 {
        padding: 10px;
    }
}




/* Our Partners */

.partner-block {
    flex-direction: column;
}

.partner-block h4, .partner-block p {
    text-align:center;
}

.partner-block h4 {
    color: #00599B;
    font-weight: bolder;
}

.partner-block-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.partner-block-icons img {
    width: 120px;
}

.partner-block-icons img:first-child {
    width: 80px;
}

.partner-block-icons img:hover {
    transform: scale(1.2);
    transition: ease .5s;
}

.our-services {
    border-radius: 17px;
    background: linear-gradient(228deg, #00599B 50.92%, #0480DC 76.85%);
    min-height: 200px;
    width: 90%;
    padding: 47px;
    color: white;
    display: grid;
    gap: 20px;
}

.our-services h4 {
    color: #9FD6FF;
}

.service-cards {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
}

.service-cards div {
    border-radius: 22px;
    padding: 20px;
    height: 210px;
    width: 179px;
    color: white;
    fill: white;    
    font-size: 12px;
    font-weight: bold;
    background-color:#E6E51E;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* .service-cards div p {
    max-width: 90%;
} */

.service-cards div:first-child, .service-cards div:last-child {
    color: black;
}

.hidden-text {
    background-color: inherit !important;
    height: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.hidden-text ul{
    list-style-type: disclosure-closed;
    min-width: 200px;
    margin-bottom:0;
    padding: 10px 30px;
}

#second_card {
    background-color: #3B3A3A;
}

#third_card {
    background-color: #000000;
    min-width: 200px;
}

#third_card svg{
    margin-bottom: 5px;
    color: white;
}

#fourth_card {
    background-color: #496AF1;
}

#second_card .hidden-text, #third_card .hidden-text, #fourth_card .hidden-text {
    color: white !important;
}

#fifth_card {
    background-color: #FFB5B5;
}

.service-cards div:hover{
    cursor: cell;
    width: fit-content;
    padding: 10px 0;
    align-items: center;
}

.newsandevents {
    display: grid;
    gap: 10px;
    justify-content: center;
    text-align: center;
    width: 70%;
}

.newsandevents h4 {
    color: #00599B;
}

.newsholder {
    font-weight: bolder;
    font-size: small;
    gap: 20px;
}

.eachnewsholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 10px;
}

.eachnewsholder:hover {
    opacity: .5;
    text-decoration: none;
}

.eachnewsholder p{
    max-width: 80%;
}

.newsIMG {
    border-radius: 14px;
    width: 200px;
    height: 200px;
    background-size: cover !important;
    background-position: center !important;
}

#newsIMG1 {
    background: url('https://ik.imagekit.io/s3jkgwyie/8fe8ff81a624bdf066635b18cff0d8e8.png?updatedAt=1703351095849');
}

#newsIMG2 {
    background: url('https://ik.imagekit.io/s3jkgwyie/5dfd9f242dfc8afcce60722521c5bfb1.png?updatedAt=1703351139301');
}

#newsIMG3 {
    background: url('https://ik.imagekit.io/s3jkgwyie/c8e75fa0764bf03bd1aaad884ab37e16.png?updatedAt=1703351143115');
}

#newsIMG4 {
    background: url('https://ik.imagekit.io/s3jkgwyie/Ogun%20Business%20Summit.jpeg?updatedAt=1703165880673');
}

.forvideos {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.vidholder {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 13px;
    overflow: hidden;
}

.vidholder div {
    width: 100%;
    height: 100%;
    border-radius: 13px;
}

#video1 {
    background: url('https://ik.imagekit.io/s3jkgwyie/885aeb5825bd3d91bab4ef43e5533673.png?updatedAt=1703353137415');
    z-index: 1;
    width: 100%;
    height: 100%;
}

.playbtndiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease .3s;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    color: white !important;
    font-size: larger;
    opacity: 0; /* Initially hidden */
}

.vidholder:hover .playbtndiv {
    opacity: 1; /* Display on hover */
}

.playbtndiv:hover {
    cursor: pointer;
}

.videosOnYouTube {
    border-radius: 17px;
    min-height: 300px;
    width: 90%;
    background: linear-gradient(97deg, #00599B 14.12%, #0880D7 89.68%);
    display: grid;
    justify-content: center;
    gap: 30px;
    padding: 60px;
    color: white;
    text-align: center;
}

.forvideos {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.vidholder div {
    width: 160px;
    height: 160px;
    border-radius: 13px;
}

.youtubebtn {
    border: white 2px solid;
    border-radius: 8px;
    padding: 8px 12px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
    width: 220px;
    justify-self: center;
    transition: ease .5s;
    text-decoration: none !important;
    color: white;
} 

.youtubebtn:hover {
    color: #00599B !important;
    background-color: white;
    cursor: pointer;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.vidholder {
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 13px;
    overflow: hidden;
}

#video1 {
    background: url('https://ik.imagekit.io/s3jkgwyie/885aeb5825bd3d91bab4ef43e5533673.png?updatedAt=1703360818945') !important;
    background-size: cover !important;
    background-position: center;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#video2 {
    background: url('https://ik.imagekit.io/s3jkgwyie/c62821d959e3076f9ce1f8e512c9d639.png?updatedAt=1703353154086') !important;
    background-size: cover !important;
    background-position: center;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#video3 {
    background: url('https://ik.imagekit.io/s3jkgwyie/46151b432c248592ea6efcce9a2fc033.png?updatedAt=1703361096194') !important;
    background-size: cover !important;
    background-position: center;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#video4 {
    background: url('https://ik.imagekit.io/s3jkgwyie/289ca19cd452b913321d06ab8f82aacf.png?updatedAt=1703353148369') !important;
    background-size: cover !important;
    background-position: center;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#video5 {
    background: url('https://ik.imagekit.io/s3jkgwyie/47b67572e78e5b9dc96679ae53bbe54e.png?updatedAt=1703353140746') !important;
    background-size: cover !important;
    background-position: center;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#video6 {
    background: url('https://ik.imagekit.io/s3jkgwyie/5f843c2122116a2c8c73ff69b0f57e1c.png?updatedAt=1703353154037') !important;
    background-size: cover !important;
    background-position: center center;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.playbtndiv {
    transition: ease .3s;
    color: white !important;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vidholder:hover .video-overlay {
    display: flex;
}


.mediafeatured {
    display: flex;
    gap: 20px;
    width: 80%;
    padding: 20px;
    padding-bottom:30px;
}

.mediafeaturedwriteup h4 {
    color:#00599B;
}

.mediafeaturedwriteup p {
    max-width: 80%;
}

.mediafeaturedlogos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;    
}

.mediafeaturedlogos img {
    height: 50px;
}

/* Mobile Responsiveness */

@media screen and (max-width: 768px) {
    body {
        gap: 20px;
    }

    hr {
        margin: 0;
    }

    .hero {
        width: 100%;
        margin-top: -30px;
    }

    .heroh1{
        max-width: 100vw !important;
        padding-bottom: 5px;
    }

    .herobackground, .herorectangle {
        width: 100%;
        border-radius: 0;
    }

    .herorectangle {
        padding: 10px;
    }

    .afterhero{
        margin-top: -60px;
    }
    .impact-delivered {
        flex-direction: column;
        align-items: center;
    }

    .impact1, .impact2, .impact3 {
        /* animation: none; */
        margin-bottom: 20px;
    }

    .impact3mobile {
        display: flex !important;
    }

    .impact3 {
        display: none;
    }

    .our-clients, .partner-block {
        width: 100vw;
        flex-wrap: wrap;
        padding: 50px;
        justify-content: center;
    }

    .partner-block {
        width: unset;
        gap: 20px;
    }

    .partner-block h4, .partner-block p{
        max-width: 80vw;
    }

    .partner-block-icons {
        flex-wrap: wrap;
        width: 100vw;
    }

    .our-services {
        width: 100vw;
    }

    .our-services h4, .our-services p {
        text-align: center;
    }

    .service-cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .service-cards p {
        text-align: left;
    }

    .newsandevents {
        width: 90vw;
    }

    .newsholder {
        flex-wrap: wrap;
        justify-content: center;
    }

    .forvideos {
        flex-wrap: wrap;
    }

    .mediafeatured {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .mediafeaturedlogos {
        justify-content: center;
    }

    .mediafeaturedwriteup {
        display: grid;
        justify-content: center;
    }

    .mediafeaturedwriteup p {
        justify-self: center;
    }
    
}


@media(max-width: 500px) {
    .vidholder, .vidholder div {
        width: 80vw;
        height: 184px;
    }

    .vidholder .playbtndiv {
        opacity: 1;
        background-color: rgba(0, 27, 199, 0.244);
    }

    #video1 {
        background-position: right;
    }
}
