
/* home hero section */
.hero {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
}

.herorectangle {
    border-radius: 32px;
    background: linear-gradient(71deg, #00599B 25.13%, #118BE5 83.86%);
    margin-top: 43px;
    width: 70vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    padding-top: 89px;
}

.heroh1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.heroh1 h3{
    color: white;
    font-weight: bolder;
    text-align: center;
}

.heroh1 p{
    color: rgb(183, 184, 184);
    text-align: center;
    width: 80%;
}

.afterhero h6{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
}

.impact-delivered {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.impact-delivered h5 {
    font-weight: bolder;
}


.impact-delivered div {
    border-radius: 20px;
    padding: 20px;

}

.impact-delivered div .picture{
    border-radius: 20px;
    width: 150px;
    height: 120px;
}

.impact-delivered .impact1 .picture1 {
    background: url('/static/img/home_picture1.png');
    background-size: cover;
    background-position: center center;
}

.picture {
    width: 100%;
    height: 100%;
}

.impact1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6E51E;
    color: black;
    width: 262px;
    height: 300px;
    
}

.impact1 p {
    max-width: 80%;
}