
/* home hero section */
.hero {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
}

.herorectangle {
    border-radius: 32px;
    background: linear-gradient(71deg, #00599B 25.13%, #118BE5 83.86%);
    margin-top: 43px;
    width: 70vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    padding-top: 89px;
}

.heroh1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.heroh1 h3{
    color: white;
    font-weight: bolder;
    text-align: center;
}

.heroh1 p{
    color: rgb(183, 184, 184);
    text-align: center;
    width: 80%;
}


.impact-delivered {
    
}