body {
    padding-top: 30px;
    background-color: #F6F5F5;
    color: rgb(34, 34, 34);
}

.navbar-brand img{
    height: 20px;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

span {
    font-weight: bold;
}

.CTAbtns {
    display: flex;
    width: 100%;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.CTAbtns div, .CTAbtns a {
    width: 115px;
    padding: 13px 9px;
    border-radius: 8px;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}


.CTAbtn1 {
    background: #E6E51E;
}

.CTAbtn2 {
    border-color: white;
    border-style: inset;
    border-width: 1px;
    color: white;
}

.CTAbtn2:hover, .CTAbtn1:hover, .lightbluebtn:hover {
    background-color: white;
    color: black;
    border: none;
    transition: ease 0.5s;
}

.lightbluebtn {
    background-color: #CDEAFF;
    color: #00599B;
}

.bluebtn {
    background-color: #00599B !important;
    color: white !important;
}

.darkoutlinebtn {
    border-color: #444444 !important;
    color: #444444 !important;
}

.darkoutlinebtn:hover {
    background-color:#444444 !important;
    color: white !important;
}

.bluebtn:hover {
    background-color:#008df8 !important;
    
}

.belowMedia {
    display: grid;
    gap: 20px;
    width: 80%;
    padding: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
    justify-self: center;
    border-top: 1.5px dashed #B9BBBC;
    padding-top: 40px;
}

.belowMedia p {
    text-align: center !important;
}

footer {
    background-color: black;
    border-radius: 17px;
    display: grid;
    justify-content: space-around;
    justify-self: center;
    width: 95vw;
    margin-bottom: 30px;
    padding: 100px 52px;
    gap: 35px;
}

footer h4 {
    color: white;
    font-size: medium;
    font-weight: bolder;
}

footer p, footer a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    transition: ease .3s;
}

footer a:hover {
    color:#E6E51E;
    text-decoration: none;
    font-size: large;
}

.footer-main {
    display: flex;
    gap: 118px;
}

.footer-logo img{
    width: 200px;
}

.footer-links {
    display: flex;
    gap: 50px;
    align-items: start;
}

.footer-links div {
    display: grid;
    gap: 8px;
}

.footer-socials {
    width: 185px;
}

.social-btns svg{
    fill: white;
    transition: ease-in-out .2s;
}

.social-btns svg:hover {
    transform: scale(1.3);
    fill:#E6E51E;
    cursor: pointer;
}

.copyright p{
    margin-bottom: 0;
}

@media(max-width: 768px) {
    footer {
        padding: 50px;
        text-align: center;   
    }

    .footer-main {
        display: grid;
        gap: 50px;
    }
    .footer-links {
        display: grid;
    }
    
    .footer-socials {
        width: unset !important;
    }
}