{% extends "main/includes/base.html" %}
{% load static %}

    {% block title %}Welcome to Emmviron{% endblock title %}

    {% block additional_head %}
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <link rel="stylesheet" href="{% static 'main/css/index1.css' %}">
        <script src="{% static 'main/js/main.js' %}" defer></script>
    {% endblock additional_head %}


    {% block content %}
    <section class="hero">
        <h2>Transform Your Vision into Reality with <span>a Tailored Business Plan</span></h2>
        <p>we create exceptional business plans that open doors to new opportunities, secure investments, and drive your success.</p>
        <div class="btn btn-primary px-4 py-3">Get Your Plan Now</div>
        <div class="picture-spread">
            <img src="https://ik.imagekit.io/s3jkgwyie/Emmviron%20New%20Website%20Files/woman-making-business-pitch_11zon.jpeg?updatedAt=1740196183631" alt="Business plan Company in Nigeria woman-making-business-pitch">
            <img src="https://ik.imagekit.io/s3jkgwyie/Emmviron%20New%20Website%20Files/representation-user.jpeg?updatedAt=1740195986834" alt="Pitch Deck Consultant representation-user">
        </div>
        <div class="rating">
            <div class="stars">
                <div class="icons">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="rating-text">5.0</div>
            </div>
            <div class="text">Average client rating</div>
        </div>
    </section>

    <section class="section2">
        <div class="text">
            <h2>Why Entrepreneurs and Innovators Trust Emmviron</h2>
            <p>Whether you are planning to immigrate, raise funds, or refine your strategy, we deliver expertly crafted business plans designed to meet your unique needs.</p>
            <a href="{% url "business_plan" %}">Create your Business Plan <i class="fa-solid fa-arrow-right"></i></a>
        </div>
        <div class="picture-section">
            <img src="https://ik.imagekit.io/s3jkgwyie/Emmviron%20New%20Website%20Files/woman-with-coffee_11zon.jpeg?updatedAt=1740196183636" alt="Best pitch deck and business consultants in the world">
            <div class="writeup-box">
                <div class="writeup">
                    <h4>250+</h4>
                    <p>Business Plans</p>
                    <h4>400</h4>
                    <p>Happy Clients</p>
                    <h4>5.0</h4>
                    <p>Ratings</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section3">
        <div class="text">More than 50+ business plan done</div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="https://ik.imagekit.io/s3jkgwyie/clients/Jambitts%20copy.png?updatedAt=1716026111097" alt="Jambitts"></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/s3jkgwyie/clients/shellingten.png?updatedAt=1716026111415" alt="Shellingten"></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/s3jkgwyie/clients/novidad.png?updatedAt=1716026111407" alt="Novidad Foods"></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/s3jkgwyie/clients/found.png?updatedAt=1716026111446" alt="Found"></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/s3jkgwyie/clients/totus.png?updatedAt=1716026111995" alt="Totus"></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/s3jkgwyie/clients/pixl.png?updatedAt=1716026110781" alt="Pixl"></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/s3jkgwyie/clients/roadrunner.png?updatedAt=1716027577055" alt="Road Runner"></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/s3jkgwyie/clients/maxitech.png?updatedAt=1716026110172" alt="Maxitech"></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/s3jkgwyie/clients/deeski.png?updatedAt=1716026109848" alt="Deeski"></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/s3jkgwyie/clients/primavera.png?updatedAt=1716026109744" alt="Primavera"></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/s3jkgwyie/clients/descasio.png?updatedAt=1716026109609" alt="Descasio"></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/s3jkgwyie/clients/UPAJ.png?updatedAt=1716026773700" alt="UPAJ"></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/s3jkgwyie/clients/PLC.png?updatedAt=1716026773682" alt="Principle Legal Consult"></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/s3jkgwyie/AG%20Mortgage%20Emmviron.webp?updatedAt=1722148635691" alt="AG Mortgage Bank"></div>
                <div class="swiper-slide"><img src="https://ik.imagekit.io/s3jkgwyie/3metrics2.webp?updatedAt=1722148635704" alt="3Metrics2"></div>
            </div>
        </div>
    </section>


    <section class="our-services">
        <div class="small-heading">Our Services</div>
        <h2>Comprehensive Business Plan Services</h2>
        <div class="content">
            <div class="service-card">
                <div class="icons"> <i class="fa-solid fa-chart-pie"></i> <i class="fa-solid fa-arrow-right"></i></div>
                <h3>Pitch Deck Development</h3>
                <p>Crafting compelling and investor-ready presentations that effectively communicate your business vision and value proposition.</p>
            </div>
            <div class="service-card">
                <div class="icons"> <i class="fa-solid fa-file-contract"></i> <i class="fa-solid fa-arrow-right"></i></div>
                <h3>Proposal Writing</h3>
                <p>Developing persuasive and professional proposals that align with your strategic objectives and target audience.</p>
            </div>
            <div class="service-card">
                <div class="icons"> <i class="fa-solid fa-table"></i> <i class="fa-solid fa-arrow-right"></i></div>
                <h3>Financial Modeling & Capital Valuation</h3>
                <p>Designing detailed financial models and accurate valuation frameworks to guide investment decisions and business growth.</p>
            </div>
            <div class="service-card">
                <div class="icons"> <i class="fa-solid fa-chart-column"></i> <i class="fa-solid fa-arrow-right"></i></div>
                <h3>Market Survey & Intelligence Report</h3>
                <p>Conducting in-depth market analysis to provide actionable insights, competitor benchmarking, and strategic recommendations.</p>
            </div>
            <div class="service-card">
                <div class="icons"> <i class="fa-solid fa-book"></i> <i class="fa-solid fa-arrow-right"></i></div>
                <h3>Feasibility Study Report</h3>
                <p>Preparing thorough feasibility studies that evaluate the viability, risks, and opportunities of your business ideas or expansion plans.</p>
            </div>
            <div class="service-card">
                <div class="icons"> <i class="fa-solid fa-chess-knight"></i> <i class="fa-solid fa-arrow-right"></i></div>
                <h3>Strategic Business Plans</h3>
                <p>Plans tailored to guide you from vision to execution, ensuring sustained 	success.</p>
            </div>
        </div>
    </section>

    <section class="proven-success">
        <h2>Emmviron's Proven Process to Your Success</h2>
        <div class="content">
            <div class="card">
                <i class="fa-solid fa-layer-group"></i>
                <h3>Comprehensive Approach</h3>
                <p>We analyze every aspect of your business for accuracy and impact.</p>
            </div>
            <div class="card">
                <i class="fa-solid fa-lightbulb"></i>
                <h3>Expert Insights</h3>
                <p> Benefit from years of experience in business analytics and strategy consulting.</p>
            </div>
            <div class="card">
                <i class="fa-solid fa-crosshairs"></i>
                <h3>Tailored Solutions</h3>
                <p>Our plans are designed to meet your unique goals and industry standards.</p>
            </div>
        </div>
    </section>


    <section class="pricing">
        <div class="small-heading">Our Offer</div>
        <h2>Flexible Pricing to Fit Your Needs</h2>
        <div class="content">
            {% for card in prices %}
                <div class="card">
                    <div class="desc">
                        <p>Basic</p>
                        {% if card.is_popular %}
                            <div class="tag">Most Popular</div>
                        {% endif %}
                    </div>
                    <h2>{{ card.price }}</h2>
                    <p>{{ card.description }}</p>
                    <a href="#">Request Invoice</a>
                    <div class="features">
                        <div class="line"></div>
                        <div class="text">FEATURES</div>
                        <div class="line"></div>
                    </div>
                    <ul class="features-list">
                        {% for feature in card.features.all %}
                            <li class="feature">{{feature.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </section>
    

   

    <section class="videosOnYouTube">
        <div>
            <h4>Videos on YouTube</h4>
        </div>
        <div class="forvideos">
            <div class="vidholder">
                <div id="video1"></div>
                <a href="https://youtu.be/JLr_DjK2LOs?si=NarcRnkc7e3N8nD2" target="_blank">
                    <div class="playbtndiv">
                        <i class="fa-solid fa-play"></i>
                    </div>
                </a>
            </div>
            <div class="vidholder">
                <div id="video2"></div>
                <a href="https://youtu.be/S1LlqnQq1Y8?si=wIdzBCld-jPOXXrq" target="_blank">
                    <div class="playbtndiv">
                        <i class="fa-solid fa-play"></i>
                    </div>
                </a>
            </div>
            <div class="vidholder">
                <div id="video3"></div>
                <a href="https://youtu.be/o3vq3JoJnlM?si=XbU6SSN8HNWHBDZs" target="_blank">
                    <div class="playbtndiv">
                        <i class="fa-solid fa-play"></i>
                    </div>
                </a>
            </div>
            <div class="vidholder">
                <div id="video4"></div>
                <a href="https://youtu.be/rIyG3PgNCaw?si=nZIG8OVk8_w1I6zO" target="_blank">
                    <div class="playbtndiv">
                        <i class="fa-solid fa-play"></i>
                    </div>
                </a>
            </div>
            <div class="vidholder">
                <div id="video5"></div>
                <a href="https://youtu.be/qP7iLMkNjpU?si=Vk1dIDwws2Wt-yKm" target="_blank">
                    <div class="playbtndiv">
                        <i class="fa-solid fa-play"></i>
                    </div>
                </a>
            </div>
            <div class="vidholder">
                <div id="video6"></div>
                <a href="https://youtu.be/PkH7-sfRFzk?si=x5ZG3YYyHh0-IgcN" target="_blank">
                    <div class="playbtndiv">
                        <i class="fa-solid fa-play"></i>
                    </div>
                </a>
            </div>
        </div>
        <a href="https://youtube.com/@emmviron" target="_blank" class="youtubebtn">Watch more videos <i class="fa-solid fa-play"></i></a>
    </section>

    <section class="mediafeatured">
        <div class="mediafeaturedwriteup">
            <h4>Media We Got Featured</h4>
            <p>Unveiling Our Media Presence: Diverse, Comprehensive Coverage. Explore Our Extensive Media Footprint</p>
        </div>
        <div class="mediafeaturedlogos">
            <img src="https://ik.imagekit.io/s3jkgwyie/7c7de28434c86fff96b4a59af63ddef0.png?updatedAt=1703362637951" alt="">
            <img src="https://ik.imagekit.io/s3jkgwyie/ea8d4a903c9d706720739be1288b32f0.png?updatedAt=1703362637343" alt="">
            <img src="https://ik.imagekit.io/s3jkgwyie/c2ba809cba8dc1a07e6fd93da1c1b968.png?updatedAt=1703362637970" alt="">
            <img src="https://ik.imagekit.io/s3jkgwyie/2e87b63742b43037a28f96145ae13c8c.png?updatedAt=1703362637497" style="height: 70px;" alt="">
            <img src="https://ik.imagekit.io/s3jkgwyie/55c23ec74b25cf2cebf56ba6b9391f6b.png?updatedAt=1703362637113" alt="">
        </div>
    </section>

    {% include "main/includes/testimonials.html" %}

    
    {% include "main/includes/FAQs.html" %}

    <section class="footer">
        {% include "main/includes/letsTalk.html" %}
        {% include "main/includes/footer.html" %}
    </section>
    
    {% endblock content %}

    {% block additionalJS %}
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                function initSwiper() {
                    let slidesPerView = window.innerWidth >= 768 ? 5 : 3;

                    return new Swiper('.swiper-container', {
                        slidesPerView: slidesPerView,
                        spaceBetween: 10,
                        pagination: {
                            el: '.swiper-pagination',
                            clickable: true,
                        },
                        autoplay: {
                            delay: 2000,
                            disableOnInteraction: false,
                        },
                        // breakpoints: {
                        //     480: {
                        //         slidesPerView: 1,
                        //         spaceBetween: 5,
                        //     },
                        //     768: {
                        //         slidesPerView: 3,
                        //         spaceBetween: 10,
                        //     }
                        // }
                    });
                }

                var swiper = initSwiper();

                window.addEventListener('resize', function() {
                    swiper.destroy(true, true);
                    swiper = initSwiper();
                });
            });
        </script>
    {% endblock additionalJS %}

</body>
</html>