{% extends "main/includes/base.html" %}
{% load static %}

{% block title %}Pitch Deck{% endblock title %}

{% block additional_head %}
  <link rel="stylesheet" href="{% static 'main/css/services.css' %}">
{% endblock additional_head %}
    


{% block content %}

    <section class="services-hero">
      <div class="services-hero-writeup">
        <div><h2>Pitch Deck</h2></div>
        <p>Emmviron creates a pitch deck that encapsulates a concise presentation that provides an overview of your business to potential investors or stakeholders.</p>
      </div>
      <div class="services-hero-img business_plan_top_img"></div>
    </section>

    <section class="section2-services-we-provide">
      <h4 class="center">Here's how we provide these services:</h4>
      <div class="cards">
        <div class="services-cards">
          <h4>Client Assessment</h4>
          <p>Emmviron Consulting begins by understanding the client's business, goals, and the purpose of the pitch deck, whether it's for fundraising, partnerships, or other purposes.</p>
        </div>
        <div class="services-cards">
          <h4>Content Strategy</h4>
          <p>We work with the client to determine the key messages and content that should be included in the pitch deck.</p>
        </div>
        <div class="services-cards">
          <h4>Storytelling</h4>
          <p>Emmviron helps craft a compelling narrative that conveys the client's unique value proposition, mission, and vision.</p>
        </div>
        <div class="services-cards">
          <h4>Visual Design</h4>
          <p>Emmviron focuses on creating a visually appealing and professional design for the pitch deck. This includes layout, typography, and graphic elements.</p>
        </div>
        <div class="services-cards">
          <h4>Slides Development</h4>
          <p>We assist in structuring the pitch deck with sections such as the statement, solution, market opportunity, business model, traction, team, and financials.</p>
        </div>
        <div class="services-cards">
          <h4>Data & Visuals</h4>
          <p>The pitch deck is enriched with data, charts, and visuals to support key points and statistics.</p>
        </div>
        <div class="services-cards">
          <h4>Competitive Analysis</h4>
          <p>Information about competitors, market positioning, and differentiation is included to showcase our client's strengths.</p>
        </div>
        <div class="services-cards">
          <h4>Financial Projections</h4>
          <p>If necessary, we help integrate financial projections and investment requests into the pitch deck.</p>
        </div>
        <div class="services-cards">
          <h4>Presentation Coaching</h4>
          <p>We provide presentation coaching and tips for the client to deliver a persuasive pitch effectively.</p>
        </div>
        
      </div>
    </section>

    <section class="bottom-photo" id="pitch_deck_bottom_photo"></section>

    {% include 'main/includes/belowMedia.html' %}
    
{% endblock content %}