<footer class="">
    <div class="copyright">© {% now "Y" %} Emmviron. All Right Reserved.</div>
    <div class="socialMedia">
        <a href="http://facebook.com/emmviron" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="http://instagram.com/emmviron" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="http://linkedin.com/company/emmviron" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    
</footer>

<style>
        footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            background-color: black;
            font-size: small;
            width: 100vw;
            max-width: 1400px;
            padding: 20px 60px;
            border-radius: 0;
            margin-bottom: 0;
        }
        footer .socialMedia {
            display: flex;
            font-size: larger;
            gap: 10px;
        }

        @media(max-width: 700px){
            footer {
                font-size: x-small;
                padding: 20px 30px;
                gap: 20px;
            }
        }
    </style>