<nav>
    <div class="logo">
      <a href="{% url 'home' %}"><img src="https://ik.imagekit.io/s3jkgwyie/emmviron_logo.png?updatedAt=1704116009403" alt="Logo"></a>
    </div>

    <div class="menu">
      <a href="{% url 'about' %}">About</a>
      <a href="#" class="offcanlink dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" data-hover="true" aria-haspopup="true" aria-expanded="false">
        Services
      </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'business_plan' %}">Business Plan</a>
          <a class="dropdown-item" href="{% url 'pitch_deck' %}">Pitch Deck</a>
          <a class="dropdown-item" href="{% url 'financial_model' %}">Financial Model</a>
          <a class="dropdown-item" href="{% url 'market_research' %}">Market Research</a>
          <a class="dropdown-item" href="{% url 'talent_n_recruitment' %}">Talent and Recruitment</a>
          <a class="dropdown-item" href="{% url 'strategic_business' %}">Strategic Business Advisory</a>
          <a class="dropdown-item" href="{% url 'operational_setup' %}">Operational Setup</a>
        </div>
      <a href="{% url 'career' %}">Offers</a>
    </div>

    <a href="{% url 'contact' %}" class="contact-btn">Schedule a Free Consultation</a>


    <div class="hamburger" onclick="toggleOffcanvas()">
        <div class="ham1"></div>
        <div class="ham2"></div>
        <div class="ham3"></div>
    </div>
    
    <div class="hamoverlay" onclick="toggleOffcanvas()"></div>

    <div class="offcanvas">
        <div class="offcanlinkCover">
            <a href="{% url 'home' %}" class="offcanlink">Home</a>
            <a href="{% url 'about' %}" class="offcanlink">About us</a>
            <a href="#" class="offcanlink dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'business_plan' %}">Business Plan</a>
                <a class="dropdown-item" href="{% url 'pitch_deck' %}">Pitch Deck</a>
                <a class="dropdown-item" href="{% url 'financial_model' %}">Financial Model</a>
                <a class="dropdown-item" href="{% url 'market_research' %}">Market Research</a>
                <a class="dropdown-item" href="{% url 'talent_n_recruitment' %}">Talent and Recruitment</a>
                <a class="dropdown-item" href="{% url 'strategic_business' %}">Strategic Business Advisory</a>
                <a class="dropdown-item" href="{% url 'operational_setup' %}">Operational Setup</a>
              </div>
            <a href="{% url 'blog' %}" class="offcanlink">Blog</a>
            <a href="{% url 'career' %}" class="offcanlink">Career</a>
            <a href="{% url 'contact' %}" class="offcanlink">Contact Us</a>
        </div>
       
    </div>
</nav>

<Script>
    $(document).ready(function() {
        $('.dropdown-toggle').dropdownHover();
    });
</Script>