<section class="ready-to-start">
    <img src="https://ik.imagekit.io/s3jkgwyie/Emmviron%20New%20Website%20Files/woman-making-business-pitch_11zon.jpeg?updatedAt=1740196183631" alt="Get Pitch deck done in a day">
    <div class="content">
        <div class="small-heading">Ready to Get Started?</div>
        <h1>Let Emmviron help you turn your business goals into actionable plans.</h1>
        <a href="#">Get Your Business Plan Today!</a>
    </div>
</section>

<style>
    .ready-to-start {
        padding: 40px 8%;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .ready-to-start .small-heading {
        text-align: left;
    }

    .ready-to-start img {
        width: 500px;
        height: 100%;
        border-radius: 12px;
    }

    .ready-to-start .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 20px;
    }

    .ready-to-start .content * {
        width: 100%;
    }

    .ready-to-start .content a {
        background-color: var(--gold);
        padding: 12px 24px;
        border-radius: 12px;
        text-align: center;
        font-weight: 600;
        text-decoration: none;
        transition: .3s ease-in;
        width: fit-content;
    }

    .ready-to-start .content a:hover {
        scale: 0.95;
    }

    @media(max-width: 700px){
        .ready-to-start {
            flex-direction: column;
            gap: 20px;
            width: 100vw;
            padding: 20px;
            text-align: center;
        }
        .ready-to-start .small-heading {
            text-align: center;
        }
        .ready-to-start img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: top center;
        }
        .ready-to-start .content {
            align-items:center;
        }
        .ready-to-start .content a {
            padding: 5px 10px;
            font-size: 14px;
            border-radius: 6px;
            color: black;
            width: 80%;
        }
    }


</style>