@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #1E88E5;
    --secondary-color: #0B3050;
    --light-blue: #B9DAF7;
    --secondary-color-light: #0D3D67;
    --gold: #FFC107;
}

body {
    color: rgb(34, 34, 34);
    font-family: 'Poppins', 'Inter', 'Montserrat', 'san-serif';
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: grid;
    justify-content: center;
}

body section, nav {
    max-width: 1800px;
    width: 100vw;
    align-self: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand img{
    height: 20px;
}


span {
    font-weight: bold;
}

.CTAbtns {
    display: flex;
    width: 100%;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.CTAbtns div, .CTAbtns a {
    width: fit-content;
    padding: 13px 9px;
    border-radius: 8px;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
}


.CTAbtn1 {
    background: #E6E51E;
}

.CTAbtn2 {
    border-color: white;
    border-style: inset;
    border-width: 1px;
    color: white;
}

.CTAbtn2:hover, .CTAbtn1:hover, .lightbluebtn:hover {
    background-color: white;
    color: black;
    border: none;
    transition: ease 0.5s;
}

.lightbluebtn {
    background-color: #CDEAFF;
    color: #00599B;
}

.bluebtn {
    background-color: #00599B !important;
    color: white !important;
}

.darkoutlinebtn {
    border-color: #444444 !important;
    color: #444444 !important;
}

.darkoutlinebtn:hover {
    background-color:#444444 !important;
    color: white !important;
}

.bluebtn:hover {
    background-color:#008df8 !important;
    
}

.whatsapp_btn {
    height: 100px;
    width: auto;
    position: fixed;
    top: 80vh;
    right: 5vw;
    transition: .7s;
    z-index: 100000000000000;
}

@media(max-width: 500px){
    .whatsapp_btn {
        height: 80px;
        right: 1vw;
        top: 83vh;
    }
}

.whatsapp_btn img {
    height: 100%;
    width: auto;
}

.whatsapp_btn:hover {
    opacity: .5;
}

.belowMedia {
    display: grid;
    gap: 20px;
    width: 80%;
    padding: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
    justify-self: center;
    border-top: 1.5px dashed #B9BBBC;
    padding-top: 40px;
}

.belowMedia p {
    text-align: center !important;
}



.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

/* Animations */
@-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
