.logo img{
    height: 50px;
}

nav {
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
    font-family: 'Inter', 'poppins', sans-serif;
    font-weight: 600;
}

nav a, nav {
    color: black;
    font-size: small;
}

nav .menu a {
    min-width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s ease;
}

nav .menu a:hover {
    text-decoration: underline;
    text-underline-offset: 1.5rem;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--primary-color);
    color: inherit;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.contact-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 16px 24px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: .3s ease;
}

.contact-btn:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    text-decoration: none;
    color: white;
}


.menu {
    display: flex;
    gap: 20px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.ham1 {
    width: 40px;
    height: 8px;
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
}

.ham2 {
    width: 30px;
    height: 8px;
    background-color:rgb(35, 35, 142);
    border-radius: 5px;
}

.ham3 {
    width: 20px;
    height: 8px;
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
}

.ham2:hover {
    width: 40px;
    transition: ease-in 0.2s;
}

.ham1:hover {
    width: 20px;
    transition: ease-in 0.2s;
}

.offcanvas {
    display: none;
}

@media(min-width: 751px){
    .hamoverlay,
    .hamburger {
        position: fixed;
    }
}


@media (max-width: 750px){
    body {
        padding-top: unset;
    }

    nav {
        justify-content: space-between;
        justify-self: center;
        padding: 5%;
    }

    .hamburger {
        display: grid;
        gap: 3px;
    }

    .menu, .contact-button{
        display: none;
    }

    .offcanvas {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: rgba(0, 0, 0, 0.685);
        color: white;
        width: 80vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        padding: 40px;
        padding-top: 102px;
        z-index: 10000;
        transition: 0.5s;
    }

    .offcanlinkCover {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .offcanlink {
        margin-left: 10px;
        border-bottom: 2px dotted; /* Add dotted lines below all offcanlink items */
        color: white;
        text-decoration: none;
        padding-bottom: 5px;
    }


    .offcanlink:last-child {
        border-bottom: none;
        text-decoration: none;
      }

    .offcanvas .btn {
        width: 20vw;
        text-align: left;
    }

    .hamoverlay {
        display: none;
        background-color: rgba(0, 0, 0, 0.082);
        width: 1500px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        transition: ease-in 2s;
        position: relative;
    }
    
    .partner-block-icons {
        gap: 20px 14px;
    }
}